



<div class="row m-b-20 align-items-end">
  <div class="col-md-4 form-group">
    <label>Tipo</label>
    <select class="form-select" [ngModel]="type" (ngModelChange)="onTypeChange($event)">
      <option value="employee">Colaborador</option>
      <option value="customer">Paroquiano</option>
    </select>
  </div>
  <div class="col-md-8 form-group">
    <label>Paróquia</label>
    <app-company-selector
      #companySelector
      (selected)="onCompanySelected($event)"
    ></app-company-selector>
  </div>
</div>
<div class="row">
  <div class="col-md-8 form-group">
    <label>{{ type === 'employee' ? 'Colaborador' : 'Paroquiano' }}</label>
    @if (type === 'employee') {
      <app-employee-selector
        [companyId]="companyId"
        (selected)="onEntitySelected($event)"
      ></app-employee-selector>
    } @else {
      <app-customer-selector
        [companyId]="companyId"
        (selected)="onEntitySelected($event)"
      ></app-customer-selector>
    }
  </div>
  <div class="col-md-4 form-group d-flex">
    <button type="button" class="btn btn-primary w-100 align-self-end" [disabled]="!canAdd" (click)="add()">
      <i class="fa fa-plus"></i>&nbsp;Adicionar
    </button>
  </div>
</div>
<div class="table-responsive m-t-20">
  <table class="table table-bordered table-striped border-bottom-table">
    <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Paróquia</th>
      <th scope="col">Nome</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
      @for (row of data; track row.type + row.entity_id; let i = $index) {
        <tr>
          <td>{{ row.type === 'employee' ? 'Colaborador' : 'Paroquiano' }}</td>
          <td>{{ row.company_name }}</td>
          <td>{{ row.entity_name }}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="remove(i)">Remover</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center">Nenhum vínculo adicionado</td>
        </tr>
      }
    </tbody>
  </table>
</div>
