<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo" [routerLink]="['/dashboard']">
              <img class="img-fluid for-light" src="/assets/images/logo/logo.png" alt="logo" />
              <img class="img-fluid for-dark" src="/assets/images/logo/logo_dark.png" alt="logo" />
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="form" (ngSubmit)="submit()">
              <h4>Crie sua conta</h4>
              <p>Preencha os dados abaixo para se cadastrar</p>
              <div class="form-group">
                <label class="col-form-label">Nome</label>
                <input class="form-control" type="text" placeholder="Seu nome" formControlName="name" />
              </div>
              <div class="form-group">
                <label class="col-form-label">E-mail</label>
                <input class="form-control" type="email" required="" placeholder="test@gmail.com" formControlName="email"/>
                @if (form.controls["email"].touched && form.controls["email"].errors?.["required"]) {
                  <div class="text text-danger mt-1">Email é obrigatório</div>
                }
                @if (form.controls["email"].touched && form.controls["email"].errors?.["email"]) {
                  <div class="text text-danger mt-1">Email inválido</div>
                }
              </div>
              <div class="form-group">
                <label class="col-form-label">Senha</label>
                <div class="form-input position-relative">
                  <input class="form-control" [type]="show ? 'text' : 'password'"
                         name="signup[password]"
                         required=""
                         placeholder="*********"
                         formControlName="password"/>
                  @if (!show) {
                    <div class="show-hide" (click)="showPassword()">
                      <span class="show"></span>
                    </div>
                  } @else {
                    <div class="show-hide" (click)="showPassword()">
                      <span class="Hide"></span>
                    </div>
                  }
                  @if (form.controls["password"].touched && form.controls["password"].errors?.["required"]) {
                    <div class="text text-danger mt-1">Senha é obrigatória</div>
                  }
                  @if (form.controls["password"].touched && form.controls["password"].errors?.["minlength"]) {
                    <div class="text text-danger mt-1">A senha deve ter no mínimo 6 caracteres</div>
                  }
                  @if (form.controls["password"].touched && form.controls["password"].errors?.["maxlength"]) {
                    <div class="text text-danger mt-1">A senha deve ter no máximo 50 caracteres</div>
                  }
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Confirmar senha</label>
                <div class="form-input position-relative">
                  <input class="form-control" [type]="showConfirm ? 'text' : 'password'"
                         name="signup[confirmPassword]"
                         required=""
                         placeholder="*********"
                         formControlName="confirmPassword"/>
                  @if (!showConfirm) {
                    <div class="show-hide" (click)="showConfirmPassword()">
                      <span class="show"></span>
                    </div>
                  } @else {
                    <div class="show-hide" (click)="showConfirmPassword()">
                      <span class="Hide"></span>
                    </div>
                  }
                  @if (form.controls["confirmPassword"].touched && form.controls["confirmPassword"].errors?.["required"]) {
                    <div class="text text-danger mt-1">Confirmação de senha é obrigatória</div>
                  }
                  @if (form.controls["confirmPassword"].touched && form.controls["confirmPassword"].errors?.["passwordMismatch"]) {
                    <div class="text text-danger mt-1">As senhas não coincidem</div>
                  }
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="text-end">
                  <button class="btn btn-primary btn-block w-100 mt-3" type="submit" [disabled]="!form.valid || authState.isLoading">
                    Criar conta
                  </button>
                </div>
              </div>
              <p class="mt-4 mb-0 text-center">
                Já tem uma conta? <a class="ms-2" [routerLink]="['/sign-in']">Entrar</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
