<section [formGroup]="form">
  <div class="row">
    <div class="form-group col-md-6 m-b-10">
      <label>Responsável <span class="text-danger">*</span></label>
      <app-user-selector #userSelector (selected)="onUserSelected($event)"></app-user-selector>
      @if (form.get('owner_id').touched && !form.get('owner_id').value) {
        <div class="text text-danger mt-1">Responsável é obrigatório</div>
      }
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 m-b-10">
      <label>Nome <span class="text-danger">*</span></label>
      <input class="form-control"
             [class.is-invalid]="form.controls['name'].touched && form.controls['name'].invalid"
             formControlName="name"/>
      @if (form.controls['name'].touched && form.controls['name'].errors?.['required']) {
        <div class="text text-danger mt-1">Nome é obrigatório</div>
      }
    </div>
  </div>
</section>
