<section class="accordion dark-accordion" ngbAccordion>
  <div class="accordion-item" ngbAccordionItem [collapsed]="false">
    <h2 class="accordion-header" ngbAccordionHeader>
      <button class="accordion-button collapsed accordion-light-primary txt-primary active"
              type="button"
              ngbAccordionButton>
        Filtro
        <app-feather-icon [icon]="'chevron-down'" [class]="'svg-color'" />
      </button>
    </h2>
    <div class="accordion-collapse collapse show" ngbAccordionCollapse>
      <div [formGroup]="form" class="accordion-body" ngbAccordionBody >
        <div class="row m-b-20">
          <div class="col-md-4 form-group">
            <label>Código</label>
            <input type="number" formControlName="code" class="form-control" />
          </div>
          <div class="col-md-4 form-group">
            <label>Paróquia</label>
            <app-company-selector
              #companySelector
              (selected)="onCompanySelected($event)"
            ></app-company-selector>
          </div>
          <div class="col-md-4 form-group">
            <label>Devedor (Paroquiano)</label>
            <app-customer-selector
              #customerSelector
              [companyId]="companyId"
              (selected)="onCustomerSelected($event)"
            ></app-customer-selector>
          </div>
        </div>
        <div class="row m-b-20">
          <div class="col-md-4 form-group">
            <label>Situação</label>
            <select formControlName="status" class="form-select">
              <option [ngValue]="null">Todas</option>
              <option [ngValue]="statusEnum.OPEN">{{ statusEnumStr.OPEN }}</option>
              <option [ngValue]="statusEnum.PARTIALLY_PAID">{{ statusEnumStr.PARTIALLY_PAID }}</option>
              <option [ngValue]="statusEnum.PAID">{{ statusEnumStr.PAID }}</option>
              <option [ngValue]="statusEnum.CANCELED">{{ statusEnumStr.CANCELED }}</option>
            </select>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-light btn-sm" (click)="clear()">
              <i class="fa fa-eraser"></i>&nbsp;Limpar filtros
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
